version: "3.9"

services:
  robot:
    build: .
    environment:
      - DISPLAY=:99
    volumes:
      - .:/tests
    command: >
      bash -c "
      Xvfb :99 -screen 0 1920x1080x24 &
      robot -d results tests/
      "
