name: Robot Sikuli - Windows

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: [self-hosted, windows, sikuli]

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Verificar ambiente
        run: |
          java -version
          python --version

      - name: Instalar dependências
        run: |
          pip install --upgrade pip
          pip install jpype1==1.6.0 --only-binary :all:
          pip install robotframework
          pip install robotframework-sikulixlibrary
          if exist requirements.txt pip install -r requirements.txt

      - name: Executar testes Robot + Sikuli
        run: |
          robot -d results tests/

      - name: Publicar relatórios
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: results